<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Birth</th>
                    <th>Image Link</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{ @data.birthday }}" value="{{ @app }}">
                    <tr>
                        <td>
                            {{@app.name}}<br/>
                        </td>
                        <td>
                            {{@app.birth}}<br/>
                        </td>
                        <td>
                            {{@app.picture}}<br/>
                        </td>
                    </tr>
                </repeat>
                </tbody>
            </table>
        </div>
    </div>
</div>