<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <form action="/inputs" method="post">
                    <div class="form-group">
                        <label for="inputName">Idol Name</label>
                        <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
                               placeholder="Enter name">
                        <small id="namehelp" class="form-text text-muted">Format: name familyName ex:Haruka Amami
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="inputDate">Date</label>
                        <input type="text" id="datepicker" name="datepicker"/>
                        <script>
                            $('#datepicker').datepicker({
                                uiLibrary: 'bootstrap4'
                            });
                        </script>
                        <small id="datehelp" class="form-text text-muted">year are calculated from 2013-age
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="inputPic">Picture</label>
                        <input type="text" class="form-control" id="pict" name="pict" aria-describedby="picHelp"
                               placeholder="Enter picture link">
                        <small id="pichelp" class="form-text text-muted">get link from project imas ex:
                            https://www.project-imas.com/w/images/1/14/Haruka_ML_Profile.png
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
        </div>
    </div>