<!DOCTYPE html>
<html>
<head>
    <title>{{isset(@page.title)?@page.title:""}}</title>
    <!-- add your own css here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: white;
            color: black;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="bd-example">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="assets/logo.png" class="figure-img img-fluid rounded" alt="" style="width:50%;height:50%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Today <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tomorrow">Tomorrow</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/month">This Month</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nmonth">Next Month</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/input">Input Idol</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/idoldb">Idol in DB</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<include href="{{@page.location}}" if="{{isset(@page.location)}}"/>
<div class="footer">
    <p>©2019 Producer's Hidden Stash</p>
</div>
</body>
</html>