<center>
    <h2>Idol That have birthday on {{ @month }}:</h2>
    <repeat group="{{ @data.birthday }}" value="{{ @app }}">
        <figure class="figure">
            <img src="{{ @app.picture }}" class="figure-img img-fluid rounded" alt="">
            <figcaption class="figure-caption">{{ @app.name }}</figcaption>
        </figure>
    </repeat>
</center>